*.log
/*/obj/Debug/*
/*/bin/Debug/*
/MySql.Data/Provider/bin/Debug/*
/MySql.Data/Provider/obj/Debug/*
/*/obj/Release/*
/*/bin/Release/*
/MySql.Data/Provider/bin/Debug/Release/*
/MySql.Data/Provider/obj/Debug/Release/*
/*/bin/
/*/bin/Debug/
/*/bin/Release/
/*/obj/Debug/TempPE
/*/obj/Debug/
/*/obj/Release/TempPE
/*/obj/Release
*.user
*.suo
*.pdb
*.cache
/app/Lumberjack/bin/*
/app/Lumberjack/bin/
/app/Lumberjack/obj/*
/app/Lumberjack/obj/
/app/Lumberjack/nodes.xml
/app/Lumberjack/bin/Debug/nodes.xml