<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Medidata.Lumberjack.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <Medidata.Lumberjack.Properties.Settings>
            <setting name="FormatsFilename" serializeAs="String">
                <value>formats.xml</value>
            </setting>
            <setting name="FieldsFilename" serializeAs="String">
                <value>fields.xml</value>
            </setting>
            <setting name="NodesFilename" serializeAs="String">
                <value>nodes.xml</value>
            </setting>
        </Medidata.Lumberjack.Properties.Settings>
    </userSettings>
</configuration>
