<?xml version="1.0"?>

<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Medidata.Lumberjack.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <userSettings>
        <Medidata.Lumberjack.UI.Properties.Settings>
            <setting name="FieldsFilename" serializeAs="String">
                <value>fields.xml</value>
            </setting>
            <setting name="FormatsFilename" serializeAs="String">
                <value>formats.xml</value>
            </setting>
            <setting name="NodesFilename" serializeAs="String">
                <value>nodes.xml</value>
            </setting>
            <setting name="ShowMessages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowLogFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowEntries" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogFilesListViewColumns" serializeAs="String">
                <value>Filename:200,Size:75,Format:100,Total Entries:75,TRACE:75,DEBUG:75,INFO:75,WARN:75,ERROR:75</value>
            </setting>
            <setting name="EntriesListViewColumns" serializeAs="String">
                <value>Timestamp:100,Level:100,Message:200</value>
            </setting>
        </Medidata.Lumberjack.UI.Properties.Settings>
    </userSettings>
</configuration>